.home {
  @extend %section;

  height: 100%;
}

.home__project {
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.home__project__title {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
}

.home__project__link {
  bottom: 5rem;
  font: 1.6rem $font-apercu-pro-regular;
  left: 126.75rem;
  overflow: hidden;
  pointer-events: auto;
  position: absolute;

  span {
    display: inline-block;
    line-height: 1;
    pointer-events: none;
    vertical-align: middle;
  }

  @include media('<small') {
    bottom: 15rem;
    line-height: 1;
    left: 1.5rem;
  }
}

.home__project__link__text {
  display: inline-block;
  overflow: hidden;
  padding-right: 1rem;
  vertical-align: middle;
}

.home__project__link__arrow {
  fill: none;
  stroke: $color-white;
  stroke-width: 1px;
  margin-left: 1.5rem;
  transition: transform 0.4s ease;
  width: 3.5rem;

  .link:hover & {
    transform: translateX(1rem);
  }

  @include media('<small') {
    .link:hover & {
      transform: none;
    }
  }
}

.home__progress {
  bottom: 4.2rem;
  display: none;
  height: 4.75rem;
  left: 1.5rem;
  position: absolute;
  width: 4.75rem;

  @include media('<small') {
    display: block;
  }
}

.home__progress__circle {
  fill: none;
  stroke: rgba($color-white, 0.5);
  stroke-width: 4px;
  transition: none;
}

.home__progress__path {
  fill: none;
  stroke: $color-white;
  stroke-width: 4px;
  transition: stroke-dashoffset 1s ease;
}

.home__pagination {
  align-items: center;
  bottom: 5rem;
  display: flex;
  font: 1.6rem $font-apercu-pro-regular;
  left: 3.75rem;
  overflow: hidden;
  position: absolute;

  span {
    display: inline-block;
    line-height: 1;
    pointer-events: none;
    vertical-align: middle;
  }

  @include media('<small') {
    bottom: 5.5rem;
    font-size: 1.8rem;
    left: 7.75rem;
  }
}

.home__pagination__wrapper {
  display: inline-block;
}

.home__pagination__separator {
  background: $color-white;
  height: 1px;
  margin: 0 1rem;
  width: 3.5rem;
}

.home__pagination__number {
  text-align: center;
  width: 1rem;
}
