%animation {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}

%section {
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 1;
}
