$color-black: #000;
$color-black-lighter: #050505;
$color-gray: #ddd;
$color-snow: #f4f4f4;
$color-white: #fff;

$font-apercu-pro-bold: 'Apercu Pro Bold';
$font-apercu-pro-medium: 'Apercu Pro Medium';
$font-apercu-pro-regular: 'Apercu Pro Regular';
