section#unsupported-screen.unsupported.unsupported--disabled
  p.unsupported__logo Bruno Arizio—

  .unsupported__wrapper
    h1.unsupported__title
      | Sorry, this folio is not optimized #[br]
      | for your browser.

    p.unsupported__description
      | Come back after you #[a(href="http://outdatedbrowser.com/" target="_blank") update your browser] for the full experience. #[br]
      | I guarantee it will be worth the effort.

    .unsupported__columns
      .unsupported__column
        h2.unsupported__subtitle Work Inquiries

        p
          a.unsupported__link(href="mailto:hello@brunoarizio.com") hello@brunoarizio.com

      .unsupported__column
        h2.unsupported__subtitle Social

        p
          a.unsupported__link(href="https://medium.com/@brunoarizio" target="_blank") Medium
          a.unsupported__link(href="https://www.instagram.com/brunoarizio/" target="_blank") Instagram
          a.unsupported__link(href="https://linkedin.com/in/brunoarizio" target="_blank") LinkedIn
          a.unsupported__link(href="https://twitter.com/brunoarizio" target="_blank") Twitter
