mixin link-arrow-diagonal(value)
  svg(class=value xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.2 9.2" data-link-arrow)
    path(d="M8.7,2.3v6.3H2.3 M8.7,8.7L0.4,0.4")

mixin link-arrow-right(value)
  svg(class=value xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.3 6.6" data-link-arrow)
    path(d="M13.7,0.4l2.9,2.9l-3,3 M16.6,3.3H0")

mixin link-arrow-bottom(value)
  svg(class=value xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.6 17.3")
    path(d="M6.3,13.7l-2.9,2.9l-3-3 M3.4,16.6V0")
